body {
    margin: 0;
    background: black;
    color: white;
    padding-top: 150px;
    font-size: 30px;
}

.navbar {
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav__link {
    color: white;
    font-family: 'Frijole', cursive;
    font-size: 40px;
    padding: 10px;
    margin: 10px;

    text-decoration: none;
}

.nav__link:hover {
    color: #b60707;
    /* animation-name: navLinksHover;
     animation: 2s ease-in-out infinite;*/
}

.main_page p {
    padding: 15px;
    text-align: center;
}

h1 {
    text-align: center;
}

.main_page_content {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.main_page_content img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

div.list {
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    box-sizing: border-box;
}

ul.rule__list {
    list-style-type: none;
    font-size: 28px;
}

ul.rule__list li p {
    font-size: 40px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

ul.rule__list li:first-child {
    color: yellow;
}

.award_stands {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.award_stands div {
    width: 150px;
    background: goldenrod;
    border: 1px solid darkgoldenrod;
}

.award_first_place {
    background: yellow;
    height: 280px;
}

.award_second_place {
    background: blue;
    height: 210px;
}

.award_third_place p {
    text-align: center;
}

.award_third_place {
    background: green;
    height: 150px;
}

.game__container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(7, 150px);
}

.game__container div {
    border: 2px solid white;
}

.game__container div.empty {
    background: white;
    border: none;
}

.icon {
    width: 100px;
    height: 100px;
    z-index: 10;
}

.icon_player_container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.icon_player_container p {
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    background: #432057;
    color: white;
    text-align: center;
}

.icon_player_container div {
    margin-left: 15px;
    width: 140px;
}

.dice__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.roll_button {
    width: 50px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.cell {
    position: relative;
}

@-webkit-keyframes spinDice {
    0% {
        transform: rotate(0deg);
        filter: blur(5px);
    }
    100% {
        transform: rotate(360deg);
        filter: blur(5px);
    }
}

@keyframes spinDice {
    0% {
        transform: rotate(0deg);
        filter: blur(5px);
    }
    100% {
        transform: rotate(360deg);
        filter: blur(5px);
    }
}

img {
    width: 100px;
    padding: 15px;
    animation: none;
}

.money {
    background-image: url("https://i.ibb.co/sCfq0k2/money.png");
    background-repeat: no-repeat;
    background-position: center;
}

.banana {
    background-image: url("https://i.ibb.co/QkM43rR/banana1.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

}

.ice {
    background-image: url("https://i.ibb.co/ky1ms7h/ice.png");
    background-size: cover;
}

.question {
    background-image: url("https://i.ibb.co/D790TMd/question.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.startBtn {
    cursor: pointer;

}

.icon_player_container .disabledStartBtn p {
    background: gray;
    color: #432057;
    font-weight: bold;
    cursor: not-allowed;

}

.startBtn p {
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.ice__popup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    transition: all 0.7s ease 0s;
}

.ice__popup__container.icePopupClosed {
    visibility: hidden;
    opacity: 0;
}

.ice__popup__container.icePopupOpen {
    background: rgba(28, 76, 76, 0.6);
    visibility: visible;
    opacity: 1;
}

.ice__popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    box-sizing: border-box;
}

.ice__popup__content {
    background: rgba(28, 76, 76, 0.8);
    border: 5px solid #9bf1dc;
    border-radius: 50% 0 50% 0;
    max-width: 800px;
    height: 600px;
    padding: 15px;
    position: relative;

    transition: all 0.7s ease 0s;

}

.ice__popup__content.icePopupContentClosed {
    opacity: 0;
    transform: translate(0, -100%);
    visibility: hidden;
}

.ice__popup__content.icePopupContentOpen {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
}

.ice__popup__content h2 {
    font-size: 40px;
    margin: 2em;
    text-align: center;
    color: white;
}

.ice__popup__content p {
    font-size: 28px;
    padding: 15px;
    color: #9bf1dc;
}

.ice__popup__content div {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
}

.ice__popup__content p.closePopup {
    color: white;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    border: 2px solid #9bf1dc;
    border-radius: 20px;
    margin: 15px auto;
}

.ice__popup__content p.closePopup:hover,
.ice__popup__content p .closePopup:focus {
    color: rgb(28, 76, 76);
    background: #9bf1dc;
    cursor: pointer;
    font-weight: bold;
}

.iceWaiting__popup__container {
    background: rgb(24, 56, 56);
    display: inline-block;
    position: relative;
    width: 200px;
    border: 8px solid #9bf1dc;
    border-radius: 30px;
    transition: all 0.7s ease 0s;
    transform: translate(0, -100%);
    opacity: 0;
    visibility: hidden;
}

.iceWaiting__popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

/* Right triangle placed top right flush. */
.tri-right.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #9bf1dc transparent transparent transparent;
}

.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0;
    bottom: auto;
    border: 20px solid;
    border-color: rgb(24, 56, 56) transparent transparent transparent;
}

.iceWaiting__popup__content p {
    font-size: 28px;
    padding: 5px;
    color: #9bf1dc;
}

.iceWaiting__popup__container.closed {
    opacity: 1;
    margin: -50px;
    visibility: hidden;
    transform: translate(-100%, -100%);
}

.iceWaiting__popup__container.opened {
    opacity: 1;
    margin: 40px;
    visibility: visible;
    transform: translate(0, 0);
}

.question__popup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.7s ease-in-out;

}

.question__popup__container.openQuestion__popup__container {
    visibility: visible;
    opacity: 1;
}

.question__popup__container.closedQuestion__popup__container {
    visibility: hidden;
    opacity: 0;
}

.question__popup__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    box-sizing: border-box;
    text-align: center;
    min-height: 100%;
}

.question__popup__content {
    border-radius: 40px;
    padding: 30px 10px;
    min-width: 415px;
    transition: all 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question__popup__content.openQuestion__popup__content {
    visibility: visible;
    opacity: 1;
    transform: rotate(720deg);
}

.question__popup__content.closedQuestion__popup__content {
    visibility: hidden;
    opacity: 0;
    transform: rotate(0deg);

}

.question__popup__content h2 {
    margin-bottom: 1em;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
}

.question__popup__content input[type=text] {
    font-size: 35px;
    font-weight: bold;
    color: white;
    background: #38124b;
    width: 350px;
    height: 60px;
    border: 4px solid #1b0a26;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.question__popup__content input[type=text]:hover,
.question__popup__content input[type=text]:focus {
    border: 4px solid #82042b;
    outline: none;
    background: #38124b;
    color: white;
}

.question__btn__ok {
    border: 2px solid #82042b;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background: rgba(67, 32, 87, 0.6);
    width: 20%;
}

.question__btn__ok p {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.question__btn__ok p:hover,
.question__btn__ok p:focus,
.question__btn__ok:hover {
    color: white;
    background: rgba(67, 32, 87, 1);
}

.question_card_invisible {
    display: none;
}

.playersChoosingAreaWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.playersChoosingAreaInput {
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.playersChoosingAreaImg {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.deleteImg {
    position: absolute;
    right: 30px;
    top: 15px;
    background: red;
    padding: 5px;
    cursor: pointer;
    border-radius: 10%;
}

.deleteImg:hover {
    padding: 10px;
    font-size: 30px;
}

.playersChoosingAreaImg img {
    height: 150px;
    object-fit: cover;
    padding: 5px;
}

.iconsWrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    cursor: pointer;
    padding-right: 70px;
    flex-wrap: wrap;
}

.dropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding-top: 10px;
    background: black;
}

.check_mark {
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    color: greenyellow;
    cursor: pointer;
}

.check_mark:hover {
    background: rgba(173, 255, 47, 0.3);
}

.player-icon-small {
    height: 100px;
    object-fit: contain;
}

.player-icon-big {
    width: 200px;
    height: 200px;
}

.playersChoosingAreaBtn {
    width: 150px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    margin-left: 30px;
}

.playersChoosingAreaBtn {
    cursor: not-allowed;
    outline: none;
    background: rgba(255, 140, 0, 0.4);
}

.playersChoosingAreaBtn.open {
    background: darkorange;
}

.playersChoosingAreaBtn.open:hover,
.playersChoosingAreaBtn.open:focus,
.playersChoosingAreaBtn.open:active {
    cursor: pointer;
    outline: none;
}

.displayNone {
    display: none;
}

.addRemoveBtn {
    width: 40px;
    padding: 5px;
    font-size: 25px;
    margin: 30px;
}

.game__container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(7, 150px);
}

.game__container div {
    border: 2px solid white;
}

.game__container div.empty {
    background: white;
    border: none;
}

.icon {
    width: 100px;
    height: 100px;
    z-index: 10;
}

.icon_player_container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.icon_player_container p {
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    background: #432057;
    color: white;
    text-align: center;
}

.icon_player_container div {
    margin-left: 15px;
    width: 140px;
}

.dice__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.roll_button {
    width: 50px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.cell {
    position: relative;
}

@-webkit-keyframes spinDice {
    0% {
        transform: rotate(0deg);
        filter: blur(5px);
    }
    100% {
        transform: rotate(360deg);
        filter: blur(5px);
    }
}

@keyframes spinDice {
    0% {
        transform: rotate(0deg);
        filter: blur(5px);
    }
    100% {
        transform: rotate(360deg);
        filter: blur(5px);
    }
}

img {
    width: 100px;
    padding: 15px;
    animation: none;
}

.money {
    background-image: url("https://i.ibb.co/sCfq0k2/money.png");
    background-repeat: no-repeat;
    background-position: center;
}

.banana {
    background-image: url("https://i.ibb.co/QkM43rR/banana1.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

}

.ice {
    background-image: url("https://i.ibb.co/ky1ms7h/ice.png");
    background-size: cover;
}

.question {
    background-image: url("https://i.ibb.co/D790TMd/question.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.startBtn {
    cursor: pointer;

}

.icon_player_container .disabledStartBtn p {
    background: gray;
    color: #432057;
    font-weight: bold;
    cursor: not-allowed;

}

.startBtn p {
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.ice__popup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    transition: all 0.7s ease 0s;
}

.ice__popup__container.icePopupClosed {
    visibility: hidden;
    opacity: 0;
}

.ice__popup__container.icePopupOpen {
    background: rgba(28, 76, 76, 0.6);
    visibility: visible;
    opacity: 1;
}

.ice__popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    box-sizing: border-box;
}

.ice__popup__content {
    background: rgba(28, 76, 76, 0.8);
    border: 5px solid #9bf1dc;
    border-radius: 50% 0 50% 0;
    max-width: 800px;
    height: 600px;
    padding: 15px;
    position: relative;

    transition: all 0.7s ease 0s;

}

.ice__popup__content.icePopupContentClosed {
    opacity: 0;
    transform: translate(0, -100%);
    visibility: hidden;
}

.ice__popup__content.icePopupContentOpen {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
}

.ice__popup__content h2 {
    font-size: 40px;
    margin: 2em;
    text-align: center;
    color: white;
}

.ice__popup__content p {
    font-size: 28px;
    padding: 15px;
    color: #9bf1dc;
}

.ice__popup__content div {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
}

.ice__popup__content p.closePopup {
    color: white;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    border: 2px solid #9bf1dc;
    border-radius: 20px;
    margin: 15px auto;
}

.ice__popup__content p.closePopup:hover,
.ice__popup__content p .closePopup:focus {
    color: rgb(28, 76, 76);
    background: #9bf1dc;
    cursor: pointer;
    font-weight: bold;
}

.iceWaiting__popup__container {
    background: rgb(24, 56, 56);
    display: inline-block;
    position: relative;
    width: 200px;
    border: 8px solid #9bf1dc;
    border-radius: 30px;
    transition: all 0.7s ease 0s;
    transform: translate(0, -100%);
    opacity: 0;
    visibility: hidden;
}

.iceWaiting__popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

/* Right triangle placed top right flush. */
.tri-right.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #9bf1dc transparent transparent transparent;
}

.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0;
    bottom: auto;
    border: 20px solid;
    border-color: rgb(24, 56, 56) transparent transparent transparent;
}

.iceWaiting__popup__content p {
    font-size: 28px;
    padding: 5px;
    color: #9bf1dc;
}

.iceWaiting__popup__container.closed {
    opacity: 1;
    margin: -50px;
    visibility: hidden;
    transform: translate(-100%, -100%);
}

.iceWaiting__popup__container.opened {
    opacity: 1;
    margin: 40px;
    visibility: visible;
    transform: translate(0, 0);
}

.question__popup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.7s ease-in-out;

}

.question__popup__container.openQuestion__popup__container {
    visibility: visible;
    opacity: 1;
}

.question__popup__container.closedQuestion__popup__container {
    visibility: hidden;
    opacity: 0;
}

.question__popup__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    box-sizing: border-box;
    text-align: center;
    min-height: 100%;
}

.question__popup__content {
    border-radius: 40px;
    padding: 30px 10px;
    min-width: 415px;
    transition: all 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question__popup__content.openQuestion__popup__content {
    visibility: visible;
    opacity: 1;
    transform: rotate(720deg);
}

.question__popup__content.closedQuestion__popup__content {
    visibility: hidden;
    opacity: 0;
    transform: rotate(0deg);

}

.question__popup__content h2 {
    margin-bottom: 1em;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
}

.question__popup__content input[type=text] {
    font-size: 35px;
    font-weight: bold;
    color: white;
    background: #38124b;
    width: 350px;
    height: 60px;
    border: 4px solid #1b0a26;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.question__popup__content input[type=text]:hover,
.question__popup__content input[type=text]:focus {
    border: 4px solid #82042b;
    outline: none;
    background: #38124b;
    color: white;
}

.question__btn__ok {
    border: 2px solid #82042b;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background: rgba(67, 32, 87, 0.6);
    width: 20%;
}

.question__btn__ok p {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.question__btn__ok p:hover,
.question__btn__ok p:focus,
.question__btn__ok:hover {
    color: white;
    background: rgba(67, 32, 87, 1);
}

.question_card_invisible {
    display: none;
}