body {
    margin: 0;
    background: black;
    color: white;
    padding-top: 150px;
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}

.navbar {
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav__link {
    color: white;
    font-family: 'Frijole', cursive;
    font-size: 40px;
    padding: 10px;
    margin: 10px;

    text-decoration: none;
}

.nav__link:hover {
    color: #b60707;
    /* animation-name: navLinksHover;
     animation: 2s ease-in-out infinite;*/
}

.main_page p {
    padding: 15px;
    text-align: center;
}

h1 {
    text-align: center;
}

.main_page_content {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.main_page_content img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

div.list {
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    box-sizing: border-box;
}

ul.rule__list li p {
    font-size: 40px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

ul.rule__list li:first-child {
    color: yellow;
}

ul.rule__list li:last-child {
    margin-top: 40px;
}

ul.rule__list li span {
    font-size: 20px;
    font-family: 'Frijole', cursive;
}

.award_stands {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.award_stands div {
    width: 150px;
    background: goldenrod;
    border: 1px solid darkgoldenrod;
}

.award_stands p {
    text-align: center;
    margin: 5px;
}

.award_stands img {
    width: 100px;
    padding: 15px;
    margin: 0 10px;
}

.award_first_place {
    height: 290px;
}

.award_second_place {
    height: 220px;
}

.award_third_place p {
    text-align: center;
}

.award_third_place {
    height: 160px;
}

.icon {
    width: 70px;
    object-fit: contain;
    z-index: 10;
    padding: 0;

}

.cell {
    position: relative;
}

@-webkit-keyframes spinDice {
    0% {
        transform: rotate(0deg);
        filter: blur(5px);
    }
    100% {
        transform: rotate(360deg);
        filter: blur(5px);
    }
}

img {
    width: 100px;
    padding: 15px;
    animation: none;
}

.ice__popup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    transition: all 0.7s ease 0s;
}

.ice__popup__container.icePopupClosed {
    visibility: hidden;
    opacity: 0;
}

.ice__popup__container.icePopupOpen {
    background: rgba(28, 76, 76, 0.6);
    visibility: visible;
    opacity: 1;
}

.ice__popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    box-sizing: border-box;
}

.ice__popup__content {
    background: rgba(28, 76, 76, 0.8);
    border: 5px solid #9bf1dc;
    border-radius: 50% 0 50% 0;
    max-width: 800px;
    height: 600px;
    padding: 15px;
    position: relative;

    transition: all 0.7s ease 0s;

}

.ice__popup__content h2 {
    font-size: 40px;
    margin: 2em;
    text-align: center;
    color: white;
}

.ice__popup__content p {
    font-size: 28px;
    padding: 15px;
    color: #9bf1dc;
}


.ice__popup__content p.closePopup {
    color: white;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    border: 2px solid #9bf1dc;
    border-radius: 20px;
    margin: 15px auto;
}

.ice__popup__content p.closePopup:hover,
.ice__popup__content p .closePopup:focus {
    color: rgb(28, 76, 76);
    background: #9bf1dc;
    cursor: pointer;
    font-weight: bold;
}

.iceWaiting__popup__container {
    background: rgb(24, 56, 56);
    display: inline-block;
    position: relative;
    width: 200px;
    border: 8px solid #9bf1dc;
    border-radius: 30px;
    transition: all 0.7s ease 0s;
    transform: translate(0, -100%);
    opacity: 0;
    visibility: hidden;
}

.iceWaiting__popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

/* Right triangle placed top right flush. */
.tri-right.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #9bf1dc transparent transparent transparent;
}

.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0;
    bottom: auto;
    border: 20px solid;
    border-color: rgb(24, 56, 56) transparent transparent transparent;
}

.iceWaiting__popup__content p {
    font-size: 28px;
    padding: 5px;
    color: #9bf1dc;
}

.iceWaiting__popup__container.closed {
    opacity: 1;
    margin: -50px;
    visibility: hidden;
    transform: translate(-100%, -100%);
}

.iceWaiting__popup__container.opened {
    opacity: 1;
    margin: 40px;
    visibility: visible;
    transform: translate(0, 0);
}

.question__popup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.7s ease-in-out;

}

.question__popup__container.openQuestion__popup__container {
    visibility: visible;
    opacity: 1;
}

.question__popup__container.closedQuestion__popup__container {
    visibility: hidden;
    opacity: 0;
}

.question__popup__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    box-sizing: border-box;
    text-align: center;
    min-height: 100%;
}

.question__popup__content {
    border-radius: 40px;
    padding: 30px 10px;
    min-width: 415px;
    transition: all 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question__popup__content.openQuestion__popup__content {
    visibility: visible;
    opacity: 1;
}

.question__popup__content.closedQuestion__popup__content {
    visibility: hidden;
    opacity: 0;

}

input {

    font-family: 'Balsamiq Sans', cursive;
}

.question__popup__content input[type=text] {
    font-size: 35px;
    font-weight: bold;
    color: white;
    background: #38124b;
    width: 350px;
    height: 60px;
    border: 4px solid #1b0a26;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.question__popup__content input[type=text]:hover,
.question__popup__content input[type=text]:focus {
    border: 4px solid #82042b;
    outline: none;
    background: #38124b;
    color: white;
}

.question__btn__ok {
    border: 2px solid #82042b;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background: rgba(67, 32, 87, 0.6);
    width: 20%;
}

.question__btn__ok p {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.question__btn__ok p:hover,
.question__btn__ok p:focus,
.question__btn__ok:hover {
    color: white;
    background: rgba(67, 32, 87, 1);
}

.question_card_invisible {
    display: none;
}

.playersChoosingAreaWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.playersChoosingAreaInput {
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.playersChoosingAreaImg {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.deleteImg {
    position: absolute;
    right: 30px;
    top: 15px;
    background: red;
    padding: 5px;
    cursor: pointer;
    border-radius: 10%;
}

.deleteImg:hover {
    padding: 10px;
    font-size: 30px;
}

.playersChoosingAreaImg img {
    height: 150px;
    object-fit: contain;
    padding: 5px;
}

.iconsWrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    cursor: pointer;
    padding-right: 70px;
    flex-wrap: wrap;
}

.dropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding-top: 10px;
    background: black;
}

.check_mark {
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    color: greenyellow;
    cursor: pointer;
}

.check_mark:hover {
    background: rgba(173, 255, 47, 0.3);
}

.player-icon-small {
    height: 100px;
    object-fit: contain;
}

.player-icon-big {
    width: 200px;
    height: 200px;
    border: 2px solid greenyellow;
}

.choosingAreaBtnDiv {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.playersChoosingAreaBtn {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    margin-left: 30px;
    cursor: not-allowed;
    outline: none;
    background: rgba(255, 140, 0, 0.4);
}

.playersChoosingAreaBtn.open {
    background: darkorange;
    color: black;
}

.playersChoosingAreaBtn.open:hover,
.playersChoosingAreaBtn.open:focus,
.playersChoosingAreaBtn.open:active {
    cursor: pointer;
    outline: none;
}

.playersChoosingAreaBtn a {
    text-decoration: none;
    padding: 5px;
    color: darkred;
}

.playersChoosingAreaBtn a:hover {
    color: black;

}

.displayNone {
    display: none;
}

.addRemoveBtn {
    width: 40px;
    padding: 5px;
    font-size: 25px;
    margin: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.addRemoveBtn:hover,
.addRemoveBtn:focus,
.addRemoveBtn:active {
    outline: none;
}

.game__container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(7, 150px);
}

.game__container div {
    border: 2px solid white;
}

.game__container div.empty {
    background: black;
    border: none;
}

.icon_player_container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.icon_player_container p {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    background: #432057;
    color: white;
    text-align: center;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.icon_player_container div {
    margin: 15px;
    min-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dice__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.roll_button {
    width: 50px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}


@-webkit-keyframes spinDice {
    0% {
        transform: rotate(0deg);
        filter: blur(5px);
    }
    100% {
        transform: rotate(360deg);
        filter: blur(5px);
    }
}

@keyframes spinDice {
    0% {
        transform: rotate(0deg);
        filter: blur(5px);
    }
    100% {
        transform: rotate(360deg);
        filter: blur(5px);
    }
}

.money {
    background-image: url("https://i.ibb.co/sCfq0k2/money.png");
    background-repeat: no-repeat;
    background-position: center;
}

.banana {
    background-image: url("https://i.ibb.co/QkM43rR/banana1.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

}

.ice {
    background-image: url("https://i.ibb.co/ky1ms7h/ice.png");
    background-size: cover;
}

.question {
    background-image: url("https://i.ibb.co/D790TMd/question.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.startBtn {
    cursor: pointer;

}

.icon_player_container .disabledStartBtn p {
    background: gray;
    color: #432057;
    font-weight: bold;
    cursor: not-allowed;

}

.startBtn p {
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
}


.ice__popup__content div {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
}

.question__popup__content h2 {
    margin-bottom: 1em;
    font-size: 40px;
    color: greenyellow;
    -webkit-text-stroke: 1px white;
}

.winPopup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

}

.winPopup__container.closed__WinPopup__container {
    visibility: hidden;
    opacity: 0;
}

.winPopup__container .openWinPopup {
    visibility: visible;
    opacity: 1;
}

.winPopup__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 10px;
    box-sizing: border-box;
    text-align: center;
    min-height: 100%;
    position: relative;
}

.winPopup__content h1 {
    font-size: 50px;
    color: #efbcef;
}

.fireworks_base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

.fireworks_base > .before, .fireworks_base > .after {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    animation: 1s bang ease-out infinite backwards, 1s gravity infinite ease-in backwards, 4s position infinite linear backwards;
}

.fireworks_base > .after {
    animation-delay: 1.25s, 1.25s, 1.25s;
    animation-duration: 2.25s, 2.25s, 2.25s;
}

@keyframes bang {
    to {
        box-shadow: 33px -54.6666666667px #ff4000, 30px -324.6666666667px #0084ff, -77px -38.6666666667px #00ffa6,
        194px -130.6666666667px #ff8400, 249px -77.6666666667px #00ff91, -6px 73.3333333333px #ff6a00,
        -157px 54.3333333333px #7700ff, -190px -355.6666666667px #e600ff, 228px -52.6666666667px #ff0077,
        -89px -66.6666666667px #8800ff, 215px -191.6666666667px #7700ff, -125px -393.6666666667px #ff004d,
        -133px -201.6666666667px #00ccff, 124px -105.6666666667px #00ff8c, -27px -334.6666666667px #0026ff,
        -38px 32.3333333333px #0900ff, 190px 17.3333333333px #00ff15, -65px 3.3333333333px #00ffd0,
        -234px -357.6666666667px #ff00ee, -249px -293.6666666667px #ff3c00, -204px 8.3333333333px #00d9ff,
        41px -32.6666666667px #00ff95, 38px -350.6666666667px #ffb300, -110px -85.6666666667px #ff005e,
        95px -86.6666666667px #ee00ff, -219px -269.6666666667px #ffbf00, -142px -306.6666666667px magenta,
        -8px 14.3333333333px #ffea00, -38px 77.3333333333px #00ff99, -4px 57.3333333333px #d0ff00, 143px -38.6666666667px #ff6600,
        -121px -198.6666666667px #4400ff, -110px -230.6666666667px #04ff00, 32px 3.3333333333px #ff0015, -66px -396.6666666667px #91ff00,
        -72px 11.3333333333px #ff00d5, -52px 16.3333333333px #ff0004, -54px -142.6666666667px #3c00ff, -63px 50.3333333333px #00ff55,
        68px 2.3333333333px #ff4800, 27px -191.6666666667px #ff00e6, 144px -325.6666666667px #008cff, -140px -160.6666666667px #0055ff,
        -214px -72.6666666667px #00d0ff, 240px -414.6666666667px #00eeff, -207px -165.6666666667px #0062ff, 27px -357.6666666667px #bfff00,
        151px 65.3333333333px #44ff00, 158px -30.6666666667px #5100ff, -187px -120.6666666667px #aeff00, -248px -226.6666666667px #3300ff;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

.winPopup__container.winPopupContainer_close {
    visibility: hidden;
    opacity: 0;
}

.btnBackToMain {
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 15px;
    font-family: 'Frijole', cursive;
}

.btnBackToMain:hover {
    border: 2px solid greenyellow;
    background: black;
    color: greenyellow;

}

.award__list {
    font-size: 20px;
    list-style-type: decimal;
    margin-top: 15px;
}

.award__list li {
    color: white;
}

.award__list li p {
    display: flex;
    justify-content: space-between;
}